extends layout

block content
  h1= title
  p 
    strong Gradient Image Filter on FabricJS
  
  img(src='images/tshirt.png', width='300',height='300', class='float red')
  div(class='float')
    canvas(id='c', width='300', height='300', class='green')
  

  