doctype html
html
  head
    title= 'Gradiend Image Filter'
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    script(type='text/javascript' ,src='/javascripts/jquery.js')
    script(type='text/javascript' ,src='/javascripts/fabric.js')
    script(type='text/javascript' ,src='/javascripts/gradientFilter.js')
    