body {
  padding: 10px;
  font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.float{
  float: left;
}
.red{
  border:1px dashed red;
  margin-left: 20px;
}
.green{
  border:1px dashed green;
  margin-left: 20px;
}